doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style
     include login.css
  link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Sign Up
.main
  p.sign(align='center') Sign Up
  form.form1(action='/register' method='POST')
    input#name.un(type='text' name='name' placeholder='Name' required='')
    input#email.un(type='email' name='email' placeholder='Email' required='')
    input#password.pass(type='password' name='password' placeholder='Password' required='')
    button.submit(type='submit') Register
  a(href='/login') Login
